/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--main-font), sans-serif;
    background-image: var(--page-background);
    background-attachment: fixed;
    background-size: cover;
}

.content-width {
    inline-size: var(--content-width);
    margin-inline: auto;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-family: var(--accent-font), fantasy;
    background-color: var(--background);
    font-weight: 400;
    margin-block: 100px;
    border: 2px solid var(--main-color);
    padding: clamp(7.625rem, 7.449rem + 0.75vw, 8.125rem) 0;
    text-transform: uppercase;
}

.header__logo {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.card__title {
    font-size: var(--text-size);
    padding: 4px 10px;
    border: 2px solid var(--main-color);
    font-variation-settings: var(--card-title-font-weight);
}

.card__image-wrapper {
    position: relative;
    border-inline-end: 2px solid var(--main-color);
    border-inline-start: 2px solid var(--main-color);
}

.card__image {
    inline-size: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card__image_theme-start {
    filter: grayscale(1);
    object-position: right center;
}

.card__image_theme-clean-sheet {
    filter: brightness(1.15);
}

.card__image_theme-fail {
    filter: contrast(1.9) brightness(0.8);
    object-position: left center;
}

.card__image_theme-ideal {
    filter: saturate(2.6) hue-rotate(18deg);
}

.card__image_theme-support {
    filter: hue-rotate(35deg);
}

.card__image_theme-strategy {
    filter: invert(0.15);
}

.card__image_theme-burnout {
    filter: sepia(0.75);
}

.card__image_theme-now {
    filter: blur(1px) brightness(1.1) contrast(1.2);
}


.card__image-label {
    position: absolute;
    inset-block-start: 25px;
    inset-inline-end: 25px;
    font-family: var(--accent-font), fantasy;
    font-size: var(--accent-size);
    color: var(--main-color);
    mix-blend-mode: hard-light;
    opacity: 0.5;
    text-shadow: -1px 0 var(--text-stroke-color),
    0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color),
    0 -1px var(--text-stroke-color);
    text-transform: uppercase;
}

@supports (-webkit-text-stroke: 1px #fff) {

    .card__image-label {
        -webkit-text-stroke: 1px var(--text-stroke-color);
        text-shadow: none;
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    border: 2px solid var(--main-color);
}

.card__text {
    font-size: var(--text-size);
    line-height: 1.3125rem;
    font-variation-settings: var(--card-text-font-weight);
}

.card__actions {
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: end;
}

.button {
    font-family: var(--accent-font), fantasy;
    font-size: var(--accent-size);
    padding: 0;
    background-color: var(--button-bg-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--main-color);
    transition: box-shadow 0.3s ease;
}

.button:not(.card__icon-button)::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--button-fill-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    z-index: 0;
}

.button:not(.card__icon-button):hover::before {
    transform: scaleX(1);
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    box-shadow: 2px 2px 0 var(--main-color);
}

.card__icon-button {
    inline-size: 39px;
    block-size: 36px;
    border: none;
    background-color: transparent;
}

.card__icon-button:focus-visible {
    outline: 2px solid var(--main-color);
    outline-offset: 0;
    box-shadow: none;
}

.sparks {
    opacity: 0;
}

.like-icon .contour {
    transition: fill 0.1s linear;
}

.like-icon .core {
    fill: transparent;
    transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
    fill: transparent;
    transition: fill 0.3s linear;
}

.like-icon:hover .core {
    fill: var(--hover-fill-color);
    transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
    fill: var(--hover-fill-color);
    transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
    fill: var(--animation-fill-color);
    transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.3s linear 0.05s;
}

.card__like-button {
    inline-size: 130px;
    block-size: 38px;
}

.main__save {
    display: flex;
    justify-content: center;
    padding-block-start: 50px;
    padding-block-end: 100px;
}

.main__save-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    background-color: var(--background);
    padding-block: 17px;
    padding-inline: 20px;
    border: 2px solid var(--main-color);
    inline-size: var(--fluid-button-width);
}

.save-dialog {
    display: none;
    inline-size: var(--modal-width);
    padding-block: 30px;
    padding-inline: var(--modal-padding-inline);
    border: 2px solid var(--main-color);
    background-color: var(--background);
}

.save-dialog[open] {
    display: grid;
    gap: 30px;
}

.save-dialog::backdrop {
    background-color: rgb(0 0 0 / 0.75);
}

.save-dialog__content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.save-dialog__title {
    font-family: var(--accent-font), fantasy;
    font-size: var(--accent-size);
    line-height: 1.5;
    text-transform: uppercase;
}

.save-dialog__icon {
    flex-shrink: 0;
}

.save-dialog__button {
    inline-size: 100%;
    block-size: 38px;
}

.button__text {
    position: relative;
    z-index: 1;
    color: var(--button-text-color);
    mix-blend-mode: difference;
    white-space: nowrap;
}

.button__icon {
    fill: currentColor;
    position: relative;
    z-index: 1;
    color: var(--button-text-color);
    mix-blend-mode: difference;
}

@media (width >= 1440px) {

    .header {
        margin-block-end: 98px;
    }
}
